include layout
#main
    h1= cont
    div.img
        img#company(
            alt="company"
            src="/images/I0MTZlMTl.jpg")
    div.text
    
     p Основные владельцы компании:<br>
        |•	Vostok Nafta — примерно 22 %<br>
        |•	Kinnevik Investments — около 53 %<br>
        |•	Northzone Ventures — 7 %.<br>
     p Генеральный директор и соучредитель Йонас Нордландер <br> и исполнительный директор и соучредитель Филип Энгельберт владеют 18 % <br>компании.
        |В структуру организации входят: отдел планирования, отдел маркетинга, <br>отдел связей с общественностью, IT-отдел, бухгалтерия, юридический отдел.<br>
        |Структура управления - матричная (программно - целевая)<br>
