include layout
#main
    h1= title
    br
    p  Создателем и владельцем сайта объявлений о продаже является ООО КЕХ еКоммерц, дочерняя компания шведского холдинга Kontakt East Holding AB. Над разработкой сайта работала группа основателей шведского интернет-аукциона Tradera.com, приобретенного лидером рынка eBay за 50 млн долларов США. За 2010 г. объем продаж через сайт составил примерно $3 млрд. Прибыль компании составила около $1 млн, основными источниками дохода стали платные услуги и продажа рекламы. В том же году проект был оценен в $66 млн.<br>
        |Компания «CUB» занимается разработкой и продвижением сайтов бесплатных объявлений.<br>
        |CUB.ru стартовал в ноябре 2007 года и всего за 5 лет стал абсолютным лидером в своем сегменте, быстро обогнав всех конкурентов.<br>
    p   По итогам 2010 года CUB.ru признан лучшим брендом в категории «Товары и услуги» («Бренд года/EFFIE 2010»).
        |Объявления на CUB.ru размещают в основном частные лица, однако сайт также представляет интерес для компаний и индивидуальных предпринимателей. Поэтому на CUB.ru можно покупать не только бывшие в употреблении, но и совершенно новые товары.<br>
    p   CUB.ru доступен на всей территории России. Также запущены сайты в других странах:<br>
        |• на Украине — CUB.ua<br>
        |• в Марокко — CUB.ma<br>
        |• в Египте — CUB.com
