!!! html
head
title= title
link(rel="stylesheet" type="text/css" href="/stylesheets/StyleCV.css")
script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
script(type= 'text/javascript' src='/javascripts/SiteCV.js')
body
 #main
 #menu меню
 ul#toPress
  li: a(href='/company')о компании
  li: a(href='/forum')объявления
  li: a(href='/')на главную
